@import '~office-ui-fabric-react/dist/sass/References.scss';
.placeholder {
    display: flex;

    .placeholderContainer {
        align-items: center;
        color: "[theme:neutralSecondary, default: #666666]";
        background-color: "[theme:neutralLighter, default: #f4f4f4]";
        width: 100%;
        padding: 40px 0;

        .placeholderHead {
            color: "[theme:neutralPrimary, default: #333333]";

            .placeholderHeadContainer {
                height: 100%;
                white-space: break-spaces;
                text-align: center;
            }

            .placeholderIcon {
                display: inline-block;
                vertical-align: middle;
                white-space: normal;
                width: 42px;
                height: 42px;

                > svg {
                    border-radius: 50%;
                }
            }

            .placeholderText {
                display: inline;
                vertical-align: middle;
                white-space: normal;

                @include ms-fontWeight-semibold;
                @include ms-fontSize-xl;

                &.hide {
                  display: none;
                }
            }
        }

        .placeholderDescription {
            max-width: 600px;
            vertical-align: middle;
            margin: 24px auto auto;
            padding: 0 16px;
            text-align: center;

            .placeholderDescriptionText {
                color: "[theme:neutralSecondary, default: #666666]";
                font-size: 17px;
                display: inline-block;
                font-weight: 100;
            }
        }

        .placeholderBlockDescription {
            max-width: 600px;
            vertical-align: middle;
            margin: 24px auto auto;
            text-align: left;

            .placeholderDescriptionText {
                color: "[theme:neutralSecondary, default: #666666]";
                font-size: 17px;
                display: block;
                margin: 12px 16px;
                font-weight: 100;
            }
        }
    }
}

[dir=ltr] .placeholder,
[dir=rtl] .placeholder {
    .placeholderContainer {
        .placeholderHead {
            .placeholderText {
                padding-left: 15px;
            }
        }
    }
}
